<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munscore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommitteeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ParamClass"
            android:launchMode="singleTop"
            android:parentActivityName=".WriteDetermine"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".AddCountries"
            android:parentActivityName=".ParamClass"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".SelectCountries"
            android:parentActivityName=".ParamClass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DayOneScore"
            android:parentActivityName=".CountryDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DayTwoScore"
            android:parentActivityName=".CountryDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DayThreeScore"
            android:parentActivityName=".CountryDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".CountryDetails"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".CommitteeStats"
            android:label="@string/title_activity_committee_stats"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.munscore.MainActivity" />
        </activity>
        <activity
            android:name=".CalculateResult"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteDetermine"
            android:launchMode="singleTop"
            android:parentActivityName=".CommitteeActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ResultFill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewDetails"
            android:launchMode="singleTop"
            android:parentActivityName=".CalculateResult"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".CountryResultDetails"
            android:label="@string/title_activity_country_result_details"
            android:parentActivityName=".ViewDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.munscore.ViewDetails" />
        </activity>
    </application>

</manifest>